#wrapper{
    color: red;
    max-height: 300px;
    display: flex;
    overflow-x: auto;
}
#wrapper::-webkit-scrollbar{
    width:0;
}
#wrapper #item{
    color: green;
    min-width: auto;
    height: auto;
    line-height: aut0;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}
.homeSidebarDiv{
    padding: 10px;
    background-color: white;
    border-radius: 14px;
    margin: 4px;
}
.homeSidebarDiv:hover{
    background-color: gray;
    padding: 13px;
}